<html>
   
    <head>
        <title>TBZ - Fixtures</title>
        <link href="/css/fixtures.css" rel="stylesheet">
        </head>

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>
      <div class="main-wrap">

        <div class="article">


            <div class="fix-links">

                <a class="month-link">Aug</a>
                <a class="month-link">Sep</a>
                <a class="month-link">Oct</a>
                <a class="month-link">Nov</a>
                <a class="month-link">Dec</a>
                <a class="month-link">Jan</a>
                <a class="month-link">Feb</a>
                <a class="month-link">Mar</a>
                <a class="month-link">Apr</a>


            </div>

            <div class="fixtures">
                
            </div>





        </div>
    
</div>
      <footer>
		<%- include('../partials/footer'); %>
	  </footer>
</body></html>