<html>

    <head>
        <title>TBZ - Home</title>
        <link href="/css/index.css" rel="stylesheet">
        </head>
            

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>


<div class="main-wrap">
    <div class="article">

<img src="/img/ange.png" id="ange">

<div class="home-wrap">
    
    <div class="table">
        <h1>SPL Current Standings</h1>
<img src="/img/table.png" id="table">
</div>

<div class="upcoming">
    <h1>Upcoming Fixtures</h1>
    <div class="up-fixtures">
        <p class="fix-text">
            - Thu 5th Aug. <strong>@ Jablonec FC</strong>, <i>Europa League 3rd round qualifying leg 1</i>,  16:45
        </p>
        <p class="fix-text">
            - Sun 8th Aug. <strong>Vs Dundee FC</strong>, <i>SPL</i>, 15:00
        </p>
        <p class="fix-text">
            - Thu 12th Aug. <strong>Vs Jablonec FC</strong>, <i>Europa League 3rd round qualifying leg 2</i>, 19:45
        </p>
        <p class="fix-text">
            - Sun 15th Aug. <strong>Vs Hearts FC</strong>, <i>League Cup 2nd round</i>, 15:00
        </p>
        <p class="fix-text">
            - Sat 21st Aug. <strong>Vs St Mirren FC</strong>, <i>SPL</i>, 15:00
        </p>
    </div>
    </div>

</div>



    

    </div>
    </div>

      <footer>
		<%- include('../partials/footer'); %>
	  </footer>
</body></html>