<html>

    <head>
        <title>TBZ - Home</title>
        <link href="/css/index.css" rel="stylesheet">
        </head>
            

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>


<div class="main-wrap">
    <div class="article">

<img src="/img/ange.png" id="ange">

<div class="home-wrap">
    


<div class="upcoming">
    <h1>Upcoming Fixtures</h1>
    <div class="up-fixtures">
        <p class="fix-text">
            <strong>@ Jablonec FC</strong> <br>Thu 5th Aug, 16:45<br> <i>Europa League 3rd round qualifying, leg 1</i> 
        </p>
        
        <p class="fix-text">
             <strong>Vs Dundee FC</strong> <br> Sun 8th Aug, 15:00 <br> <i>SPL</i> <br>
        </p>
        
        <p class="fix-text">
            <strong>Vs Jablonec FC</strong> <br> Thu 12th Aug, 19:45 <br>  <i>Europa League 3rd round qualifying, leg 2</i> 
        </p>
        
        <p class="fix-text">
            <strong>Vs Hearts FC</strong> <br> Sun 15th Aug, 15:00 <br>   <i>League Cup 2nd round</i>
        </p>
        
        <p class="fix-text">
            <strong>Vs St Mirren FC</strong> <br> Sat 21st Aug, 15:00 <br>  <i>SPL</i>
        </p>
    </div>  
    
    <div class="table">
        <h1>SPL Current Standings</h1>
<img src="/img/table.png" id="table">
</div>

    </div>

</div>



    

    </div>
    </div>

      
</body>

<footer>
		<%- include('../partials/footer'); %>
	  </footer>
      
      </html>