<html>

    <head>
        <title>TBZ - Home</title>
        <link href="/css/index.css" rel="stylesheet">
        </head>
            

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>


<div class="main-wrap">
    <div class="article">

<img src="/img/celticwall.jpg" id="ange">

<div class="front-page">
     <h2>Latest Result</h2>
<span class="score"><p>SPL Matchday 1: <br> <span class="green"><i>Hearts 2-1 Celtic</i></span></p></span>
</div>

<div class="arrow">	   	
	
    </div>

<div class="arrow2"> 	
  	
    </div>

<div class="front-page2">
    <h2>Next Game</h2>
<span class="score"><p>Europa Qf Rnd 3 leg 1: <br> <span class="green"><i>@ FC Jabolnec</i></span> <span class="small">(5th Aug 16:45)</span></p></span>
</div>

<div class="home-wrap">
    


<div class="upcoming">
    <h1>Upcoming Fixtures</h1>

  
    


<div class="Fix-flex">

<div class="date">
   <p>Thu 16:45<br>5th Aug</p> 
</div>
<div class="opponent">
    <p>@ FC Joblonec</p>
</div>
<div class="competition">
    <p>1st leg <br>Europa League<br> 3rd Rnd qualifier</p>
</div>

</div>



<div class="Fix-flex">
    
    <div class="date2">
       <p>Sun 15:00<br>8th Aug</p> 
    </div>
    <div class="opponent2">
        <p>Vs Dundee FC</p>
    </div>
    <div class="competition2">
        <p>SPL</p>
    </div>
    
    </div>

    
<div class="Fix-flex">
    
    <div class="date2">
       <p>Thu 19:45<br>12th Aug</p> 
    </div>
    <div class="opponent2">
        <p>Vs FC Joblonec</p>
    </div>
    <div class="competition2">
        <p>2nd leg <br>Europa League<br> 3rd Rnd qualifier</p>
    </div>
    
    </div>

    
<div class="Fix-flex">
    
    <div class="date2">
       <p>Sun 15:00<br>15th Aug</p> 
    </div>
    <div class="opponent2">
        <p>Vs Hearts</p>
    </div>
    <div class="competition2">
        <p>2nd round<br>League Cup</p>
    </div>
    
    </div>

    
<div class="Fix-flex">
    
    <div class="date2">
       <p>Sat 15:00<br>21st Aug</p> 
    </div>
    <div class="opponent2">
        <p>Vs St Mirren</p>
    </div>
    <div class="competition2">
        <p>SPL</p>
    </div>
    
    </div>


    
    <div class="table">
        <h1>SPL Current Standings</h1>
<img src="/img/table.png" id="table">
</div>

    </div>

</div>



    

    </div>
    </div>

      
</body>

<footer>
		<%- include('../partials/footer'); %>
	  </footer>
      
      </html>