<html>

  <head>
    <title>TBZ - Squad</title>
    <link href="/css/squad.css" rel="stylesheet">
    </head>
        

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>
      <div class="main-wrap">
        <div class="article">

            <h1>GOALKEEPERS</h1>

<table><th>Player</th><th>Age</th>
  <tr><td><img src="/img/bain.png" class="profile"></td><td>S.Bain</td><td>29</td></tr>

</table>
<br>

<h1>DEFENDERS</h1>

<table><th>Player</th><th>Position</th><th>Age</th>
  <tr><td><img src="/img/starfelt.png" class="profile"></td><td>C.Starfelt</td><td>Center Back</td><td>26</td></tr>

</table>
<br>

<h1>MIDFIELDERS</h1>

<table><th>Player</th><th>Position</th><th>Age</th>
  <tr><td><img src="/img/turnbull.png" class="profile"></td><td>D.Turnbull</td><td>Central Midfielder</td><td>22</td></tr>

    </table>
    <br>

<h1>ATTACKERS</h1>

<table><th></th></th><th>Player</th><th>Position</th><th>Age</th>
    <tr><td><img src="/img/edouard.png" class="profile"></td><td><a href="https://www.transfermarkt.co.uk/odsonne-edouard/profil/spieler/344152">O.Edouard</a></td><td>Striker</td><td>23</td></tr>

</table>



        </div>
    
</div>
      <footer>
		<%- include('../partials/footer'); %>
	  </footer>
</body></html>