<html>

  <head>
    <title>TBZ - Squad</title>
    <link href="/css/squad.css" rel="stylesheet">
    </head>
        

<body>
	<header>
		<%- include('../partials/header'); %>
	  </header>
      <div class="main-wrap">
        <div class="article">

            <h1>Goalkeepers</h1>

<table><th colspan="2">Player</th><th>Age</th>
  <tr><td style='border-right:none;'><img src="/img/bain.png" class="profile"></td><td style='border-left:none;'>S.Bain</td><td>29</td></tr>

</table>
<br>

<h1>Defenders</h1>

<table><th colspan="2">Player</th><th>Position</th><th>Age</th>
  <tr> <td style='border-right:none;'><img src="/img/starfelt.png" class="profile"></td><td style='border-left:none;'>C.Starfelt</td><td>Center Back</td><td>26</td></tr>

</table>
<br>

<h1>Midfielders</h1>

<table><th colspan="2" >Player</th><th>Position</th><th>Age</th>
  <tr><td  style='border-right:none;'><img src="/img/turnbull.png" class="profile"></td><td style='border-left:none;'>D.Turnbull</td><td>Central Midfielder</td><td>22</td></tr>

    </table>
    <br>

<h1>Attackers</h1>

<table></th><th colspan="2">Player</th><th>Position</th><th>Age</th>
    <tr><td style='border-right:none;'><img src="/img/edouard.png" class="profile"></td><td style='border-left:none;'><a href="https://www.transfermarkt.co.uk/odsonne-edouard/profil/spieler/344152">O.Edouard</a></td><td>Striker</td><td>23</td></tr>

</table>



        </div>
    
</div>
      <footer>
		<%- include('../partials/footer'); %>
	  </footer>
</body></html>