<link href="/css/mainstyle.css" rel="stylesheet">		

<header class="page-header"> 
<div id="menu">
    
	    <div class="box box-1"><img class="cfclogo" src="/img/cfclogo.png"><p class="nav-head">The BHOYS Zone</p></div>		
	    <div class="box box-2">	
		    <button class="ham"></button>       
                <nav class="navbar">
	                <ul>                        
                        <li><a  href="/">Home</a></li>
                        <li><a  href="/media">Media Room</a></li>                        
                        <li><a  href="/fixtures">Fixtures</a></li>
                        <li><a  href="/squad">Squad</a></li>
                        <li><a  href="/goals">Goals</a></li>
                     
                    </ul>
		       </nav>
         </div>     
</div>
</header>

<script type="text/javascript" src="/js/navbar.js"></script>


