#ange {
    margin-top:50px;
    height:800px;
    width:100%;
}

.home-wrap {
    display:grid;
    margin:auto auto;
    padding-bottom:50px;
    width:100%;
    margin-bottom:0px;
}

.table {
    width:100%;
    margin:auto auto;
    text-align:center;
    background-color:rgb(166, 219, 166);
    padding-bottom:50px;
    padding-top:20px;
 
   
}

.upcoming {
    width:100%;
    margin:auto auto;
    text-align:center;
    margin-bottom:50px;
}

#table {   
    border: 2px solid rgb(114, 114, 114);
    margin:auto auto;
    text-align:center;
}

h1 {
    color: rgb(166, 168, 16);
    text-align:center;   
    text-decoration:underline;
    font-size:3rem; 
}

.up-fixtures {
   
    margin:auto auto;
    color:black;
    line-height:200%;
padding-left:10px;

}