#ange {
    margin-top:50px;
    height:auto;
    width:100%;
    margin-bottom:0px;
}

.home-wrap {
    display:grid;
    margin:auto auto;    
    width:100%;
    margin-bottom:0px;
}

.fix-flex {
    display:flex;   
    color:white;    
            justify-content: center;
            text-align: center;
            vertical-align:center;
            flex-direction: row;  
            height:200px;        
          
}

.front-page {
   
    margin-top:0px;   
    text-align:center;
    color:rgb(255, 255, 255);
    padding-top:-40px;
    padding-bottom:20px; 
    background-color:rgb(0, 0, 0, 0.7);   
    width:60%;
    height:220px;
    margin-left:20px;
    z-index:1000;
    position:absolute;
    top:200px;
}

.arrow {
    position:absolute;
    right:50px;
    top:80px;
    font-size: 15rem;
    color:rgb(29, 173, 0);
}

.arrow2 {
    position:absolute;
    left:50px;
    top:360px;
    font-size: 15rem;
    color:rgb(247, 247, 247);
}


.front-page2 {
   
    margin-top:0px;   
    text-align:center;
    color:rgb(255, 255, 255);
    padding-top:-40px;
    padding-bottom:20px; 
    background-color:rgb(0, 0, 0, 0.7);   
    width:60%;
    height:220px;    
    z-index:1000;
    position:absolute;
    top:465px;
    right:20px;
}

.small {
    font-size:2rem;
    color:rgb(27, 189, 27);
}

h2 
{
    font-size:2rem;
    font-weight:bold;
    color:rgb(179, 174, 174);
}

.green {
    color:rgb(26, 194, 26);
    font-size:3rem;
}

.score {
    font-size:2.5rem;
    font-weight:bold;
}

.date2 {
    width:20%;    
    background-color:rgb(34, 34, 34);
    border: 2px solid black;
    text-align: center;
    vertical-align:center;
    font-style:italic;
    color:rgb(228, 228, 228);

}

.opponent2 {
width:30%;
text-align: center;
background-color:rgb(7, 80, 7);
border: 2px solid black;
vertical-align:center;
font-style:italic;
color:rgb(228, 228, 228);

}

.competition2 {
    width:50%;
    text-align: center;
    background-color:rgb(139, 126, 1);
    border: 2px solid black;
    vertical-align:center;
    font-style:italic;
    color:rgb(228, 228, 228);

}


.date {
    width:20%;    
    background-color:rgb(63, 62, 62);
    border: 2px solid black;
    text-align: center;
    vertical-align:center;
    font-weight:bold;
    font-size:2.2rem;
}

.opponent {
width:30%;
text-align: center;
background-color:rgb(51, 158, 51);
border: 2px solid black;
vertical-align:center;
font-weight:bold;
font-size:2.2rem;

}

.competition {
    width:50%;
    text-align: center;
    background-color:rgb(187, 159, 3);
    border: 2px solid black;
    vertical-align:center;
    font-weight:bold;
    font-size:2.2rem;

}


.table {
    width:100%;
    margin:auto auto;
    text-align:center;
    background-color:rgb(255, 217, 4);
    padding-bottom:50px;
    padding-top:20px;
    margin-bottom:0px;
    margin-top:40px;
   
}

.upcoming {
    width:95%;
    margin:auto auto;
    text-align:center;
    margin-bottom:50px;
}

#table {   
    border: 2px solid rgb(114, 114, 114);
    margin:auto auto;
    text-align:center;
    height:1000px;
    width:95%;
}

h1 {
    color: rgb(0, 0, 0);
    text-align:center;      
    font-size:3.5rem; 
}

.up-fixtures {
   
    margin:auto auto;
    color:black;
    line-height:160%;
padding-left:10px;
font-size:2rem;

}