html {  
    height:100%;   
  margin:0;
    padding:0;
    
    /* equal to footer height */
  }
  
  body { 
     background-image: url("/img/uefablack.jpg"); background-size: cover;
      background-position: center;
        background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;	
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size:2em;  
    margin:0;
    padding:0;    
    height:100%; 
  }
  
  .main-wrap {
    display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items:stretch;
}

.article {
    flex-grow: 1;
}


  
  
  .ham {
   margin-left:90px;
  /* always keep ham on top of everything */
  z-index: 1000;	
  margin-top: 50px;
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  /* show the menu image */
  background-image: url("/img/menu.png");
  background-repeat:no-repeat;
  background-size:100% 100%;	
  position: fixed;
  padding-bottom:0px;
  padding-right:0px;
  border-radius: 0px;	
  }
  
  .ham:focus{
  outline: none;
  }
  
  .showClose {
  background-image: url("/img/cross.png");
  background-repeat:no-repeat;
  background-size:cover;	
  width: 70px;
  height: 70px;
  margin-top: 50px; 
  margin-left:90px;
  margin-right:0px;
  margin-bottom:0px;
  z-index:500;	
  position: fixed;
  border-radius: 0px;
  }
  
  
  .navbar {
  position:fixed;
  margin-top: 10rem;
  background:  #e6e6e6;
      margin-left:0px;
  width: 450px;	
  height: auto;	
  z-index:200;		
  margin-bottom:0px;
  border-radius:25px;
  
  /* hide the menu above the screen by default */
  transform: translateX(100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
  }
  
  .showNav {
  /* show the menu */
  transform: translateX(-60%);
  }
  
  .navbar ul {		
  margin-bottom:0px;
      margin-top:0px;
  padding-top:0px;
  margin-left:0px;
  }
  
  .navbar li {
  font-size:4rem;
  text-decoration:none;
  padding-bottom:10px;
  padding-top:10px;
  list-style-type: none;
  text-align:left;
  margin-left:0px;
  }
  
  
  .navbar li a:hover {
  color:#b3ccff;
  }
  
  .navbar li a {
  text-decoration:none;
  color:  black; 
  font-family: lato, "open sans condensed", sans-serif;
  }
  
  
  
  #menu {
  margin-top:0px;	
  display: flex;
  width:100%;	
  margin-left:0px;
  margin-right:0px;
  background-color:#053b11;
  border-bottom: 2px solid gray;
  justify-content:space-between;
  color:#1a1a1a;
  flex-wrap:nowrap;
  flex: 1 1 auto;
  height:180px;		
  z-index:10;
  margin-bottom:-55px;	
  }
  
  
  .box {
  display:flex;	
  }
  
  .box-2 {	
  width:20%;
  }
  
  .box-1  {
  width: 80%;	
  margin-top:auto;
  margin-bottom:auto;
  margin-left:0px;
  text-align:left;
  }
  
  
  .nav-head {
  color:white;
  font-size:4rem;
  margin-top:auto;
  margin-bottom:auto;
  }
  
  .cfclogo {	
  float:left;
  margin-left:25px;
  height:80px;
  }
  
  
  
  
  .lighttxt { 
      color:#cce0ff;
  }
  
  .darktxt { 
      color:black;
  }
  
  
  .footer-container {		
  text-align: center;		
  font-size:1rem;	
  flex-shrink:0px;
  width:100%;
       }
      
  .prefoot {	
      height: 2px;	
      width: 100%;	
    background-color: #989898;
      margin-bottom:0px;
  margin-top:0px;
   }	
  
  .footer {
  padding-bottom:20px;
  padding-top:120px;
  background-color: #043103;	 	  
  color:#f2f2f2;
  margin-bottom:0px;
  margin-top:0px;
  }
  
  
  
  .epslhead {
  padding-top:10px;
  padding-left:30px;
  height:110px;
  width:900px;
  }
  
  /* Below code to scale website for wider desktop screens */		
  
  
  @media(min-width: 1000px)  {
  
  .navbar li {
      font-size:2vw;
  }
  
  .navbar {
      width:450px;
  }
  }